<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="sn_netEntities" connectionString="metadata=res://*/Model.SN_NetModel.csdl|res://*/Model.SN_NetModel.ssdl|res://*/Model.SN_NetModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sn-server;user id=snnet;password=express;persistsecurityinfo=True;database=sn_net&quot;" providerName="System.Data.EntityClient" />
    <add name="sn_notesEntities" connectionString="metadata=res://*/Model.SN_NoteModel.csdl|res://*/Model.SN_NoteModel.ssdl|res://*/Model.SN_NoteModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=12345;database=sn_notes&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>